/* ESTILO GERAL */
*{                                         /*seletor universal*/
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    
}

.logo img{

    width: 200px;
    height:200px;

}

body{
    /* background-color: #ffba58;
    background-color: #ffff; */
    background-color: #d8a48f
    ;
    height: 100vh;
}   

.interface{
    max-width: 1200px;                        /*largura maxima*/
    margin: 0 auto;
}
.flex{
    display: flex;
}

.bt-contato button{

    background-color:#a63d40f0;
    color: #efebce;
    border: 0;
    border-radius: 30px;
    cursor: pointer;

    font-size: 18px;
    font-weight: 600px;

    padding: 10px 40px;
    transition: .2s;

}

/* ESTILO DO CABEÇALHO"header" */
header{
    padding: 40px 4%;
}

header .interface{
    display: flex;                           /* alinhar itens - "flex" horizontal*/
    align-items: center;                     /*alinha itens dentro do flex*/
    justify-content: space-between;          /*alinha/espaçamento um elementos entre outro elemento*/
}

header a {
    color: #efebce;

    display: inline-block;
    text-decoration: none;                  /*p/ efeitos*/
    transition: .2s;                        /*p/ efeitos*/
}

header a:hover{
    color: #efebce ;
    transform: scale(1.05);                /*p/ efeitos*/
}

header nav ul {
    list-style-type: none;                  
}

header nav ul li{
    display: inline-block;                   /* alinhar itens - "inline-block" elementos lado a lado*/
    padding: 0 40px;
}

.bt-contato button:hover{
    box-shadow: 0 0 8px #a63d40;
    transform: scale(1.05);
}

/* ESTILO DO TOPO DO SITE */

section .topo-do-site{
    padding: 40px 4%;
}
section .topo-do-site .flex{
    align-items: center;
    justify-self: center;
    gap: 90px
}

.topo-do-site .txt-topo-site h1{
    color: #efebce;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color:#a63d40;

}

.topo-do-site .txt-topo-site p{
    color:#efebce;
    margin: 40px 0;
}

.topo-do-site .img-perfil img{

    animation: flutuar 2s ease-in-out infinite alternate;
    position: relative;
}

@keyframes flutuar{
    0%{
        top:0;
    }
    100%{
        top: 30px;
    }
}
